JENKINS_AGENT_SECRET=

JENKINS_NODE_NAME=executor-cluster-local
JENKINS_AGENT_IMAGE=platform/jenkins-agent:local
JENKINS_AGENT_CONTAINER_NAME=jenkins-agent
KUBECONFIG_HOST=~/.kube/config

TZ=Asia/Ho_Chi_Minh
