JENKINS_IMAGE=jenkins/jenkins:2.568.3-lts-jdk21
JENKINS_CONTAINER_NAME=jenkins-server
JENKINS_HOME_HOST=./jenkins_home
JENKINS_HTTP_PORT=80
JENKINS_AGENT_PORT=50000
JENKINS_BIND_IP=127.0.0.1
JENKINS_MEM_LIMIT=2g
RUN_SETUP_WIZARD=true

JENKINS_AGENT_SECRET=

JENKINS_NODE_NAME=executor-cluster-local
JENKINS_AGENT_IMAGE=platform/jenkins-agent:local
JENKINS_AGENT_CONTAINER_NAME=jenkins-agent
KUBECONFIG_HOST=~/.kube/config

TZ=Asia/Ho_Chi_Minh
